<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]- Miguel Vanden Broucke</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="container header-text">
                <h1>Miguel Vanden Broucke</h1>
                <p class="lead">Interactieve CV</p>
            </div>
            <a href="#profile" class="scroll-down">
                <i class="far fa-arrow-alt-circle-down bounce"></i>
            </a>
            <div class="header-overlay"></div>
        </div>

        <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav nav mr-auto text-center">
                    <li class="nav-item  active">
                        <a class="nav-link" href="#profile" data-toggle="collapse" data-target=".navbar-collapse.show">Profiel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experiences" data-toggle="collapse" data-target=".navbar-collapse.show">Ervaring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills" data-toggle="collapse" data-target=".navbar-collapse.show">Competenties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Interactieve CV - Miguel Vanden Broucke
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/css/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
