/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*custom css
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.main-color {
    color: #678fae;
}


/*header css*/

div.header-container {
    background-color: #678fae;
    background: no-repeat center center fixed url(/images/header2.png);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header2.png', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header2.png', sizingMethod='scale');
    height: 100vh;
    position: relative;
    z-index: 0;
}

div.header-overlay {
    background-color: #343a40;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.65;
    filter: alpha(opacity=65);
    z-index: 1;
}

div.header-text {
    top: 35%;
    color:#fff;
    text-align:center;
    position: relative;
    z-index: 2
}

div.header-text h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

div.header-text .lead {
    font-size: 28px;
}

a.scroll-down {
    height: 80px;
    width: 120px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #343a40;
    text-align: center;
    z-index: 4;
}

@media screen and (max-width: 767px) {
    a.scroll-down {
        height: 55px;
        width: 100%;
        bottom: 0px;
        right: 0px;
    }

    span.fa-chevron-down {
        padding-top: 0px;
        font-size: 32px;
    }
}

span.fa-chevron-down {
    font-size: 36px;
    font-weight: bold;
    color: #678fae;
    padding-top: 22px;
}

span.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-7px);
    }
}


/*override bootstrap navbar classes */
li.nav-item {
    width: 100%;
}

a.nav-link {
    text-align: center;
    font-weight: 600;
    width: 100%;
}


    a.nav-link.active:hover,
    a.nav-link.active:focus {
        color: #fff;
    }


li.nav-item.active {
    background-color: #678fae;
    color: #FFFFFF;
}



/* navbar menu when NOT in phone/tablet mode css*/
@media screen and (min-width: 768px) {

    nav.navbar {
        border: 0px;
        position: absolute;
        top: 100vh;
        right: 5%;
        left: auto;
        width: 120px;
        padding: 0px;
        z-index: 999;
    }

    nav.fixed-top {
        position: fixed;
        top: 60px;
    }

    a.nav-link {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    a.navbar-brand {
        padding: 0;
        margin: 0;
    }
}

/* navbar menu when in phone/tablet mode css*/
@media screen and (max-width:767px)
{
    div.navbar-collapse {
        margin-top: 10px;
    }

    a.nav-link {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}



 /* Footer css */

.footer {
    height: 100vh;
    background-color: #1f1d19;
}
    